#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  width: 100%;
  padding: 0.5rem;
  flex: 0 1 2rem;
}

#headerTitle {
  font-size: 1.5rem;
  transition: 1s;
}
