@use '../colourScheme' as colours;

#searchOverlay {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: colours.$primary-bgcolor-90;
  font-size: 2rem;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayClosed {
  top: -100dvh;
  pointer-events: none;
  opacity: 1;
}

.overlayOpen {
  top: 0;
  pointer-events: all;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  #searchOverlay {
    transition: none;
  }

  .overlayClosed {
    top: 0;
    opacity: 0;
  }

  .overlayOpen {
    top: 0;
    opacity: 1;
  }
}
