@use '../colourScheme' as colours;

#searchOverlay {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colours.$background-colour-translucent;
  font-size: 2rem;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  transition: 0.5s;
  backdrop-filter: blur(0.25rem);
}

.closed {
  top: -100dvh;
  pointer-events: none;
  opacity: 1;
}

.open {
  top: 0;
  pointer-events: all;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  #searchOverlay {
    transition: none;
  }

  .closed {
    top: 0;
    opacity: 0;
  }

  .open {
    top: 0;
    opacity: 1;
  }
}
