@use '../../globalVariables' as global;
@use '../../colourScheme' as colours;

.cardContainer {
  position: relative;
  perspective: 800px;
  display: inline-block;
}

@media screen and (min-aspect-ratio: 1/1) {
  .cardContainer {
    padding-bottom: 100%;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .cardContainer {
    height: 100%;
    padding-right: 100%;
  }
}

.cardBody {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: rotate 0.5s ease-out, scale 0.25s ease-out, opacity 1s ease-in;
  cursor: pointer;
}

.cardBody:hover {
  scale: 1.05;
}

.cardBody:hover .cardFace {
  border-color: colours.$secondary-outline-colour;
}

.cardFace {
  margin: 0;
  border: global.$outline-width solid colours.$primary-outline-colour;
  border-radius: global.$corner-rad;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: background-color 0.3s ease-out;
}

.cardImage {
  display: block;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colours.$primary-colour;
  color: white;
  text-align: center;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colours.$primary-colour;
  rotate: 180deg y;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.matched {
  background-color: colours.$primary-colour-light;
}

.flipped {
  rotate: 180deg y;
}

@media (prefers-reduced-motion: reduce) {
  .back {
    rotate: none;
    opacity: 0;
    transition: 0.25s;
  }

  .matched {
    rotate: none;
  }

  .matched .front {
    opacity: 0;
  }

  .matched .back {
    opacity: 1;
  }

  .flipped {
    rotate: none;
  }

  .flipped .front {
    opacity: 1;
  }

  .flipped .back {
    opacity: 1;
  }
}
