@use '../../globalVariables' as global;

.gifOverlay:hover .gifOverlayLink {
  display: flex;
}

.gifOverlayLink {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 50%);
  min-width: 20%;
  min-height: 20%;
  border-radius: 50%;
  padding: 0.5rem;
  right: 3%;
  bottom: 3%;
}

@media (hover: none) {
  .gifOverlayLink {
    display: flex;
  }

  .inactive .gifOverlayLink {
    display: none;
  }
}

.inactive {
  pointer-events: none;
  cursor: pointer;
}
