$background-colour: #1d3557;
$background-colour-translucent: #1d3557e0;
$input-field-background-colour: #f1faee;

$primary-text-colour: #f1faee;
$secondary-text-colour: #000;

$highlight-colour: #e63946;
$primary-colour: #457b9d;
$primary-colour-light: #a8dadc;
$primary-outline-colour: #000;
$secondary-outline-colour: #f1faee;
