@use '../globalVariables' as global;
@use '../colourScheme' as colours;

.cardContainer {
  border: 1px solid colours.$outline-color;
  border-radius: global.$corner-rad;
  position: relative;
  perspective: 800px;
  display: inline-block;
}

@media screen and (min-aspect-ratio: 1/1) {
  .cardContainer {
    padding-bottom: 100%;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .cardContainer {
    height: 100%;
    padding-right: 100%;
  }
}

.cardBody {
  border-radius: global.$corner-rad;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: transform 0.5s ease-out, opacity 1s ease-in;
}

.cardFace {
  margin: 0;
  border: 2px solid colours.$outline-color;
  border-radius: global.$corner-rad;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: background-color 0.3s ease-out;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colours.$secondary-color;
  color: white;
  text-align: center;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.back {
  background-color: colours.$secondary-color;
  transform: rotateY(180deg);
}

.matched {
  background-color: colours.$primary-color;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.gif {
  max-height: global.$max-img-dim;
  max-width: global.$max-img-dim;
  border: 1px solid colours.$outline-color;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
