@use '../../globalVariables' as global;
@use '../../colourScheme' as colours;

$alert-height: 3.5rem;

#alert {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100dvw;
  height: $alert-height;
  transition: 0.5s;
}

.body {
  text-align: center;
  padding: 0.6rem 2rem;
  background-color: black;
  color: colours.$primary-text-colour;
  min-width: 10rem;
  border-radius: 2rem 2rem 0 0;
  border: global.$outline-width solid colours.$primary-outline-colour;
  border-bottom: 0;
}

.body.error {
  background-color: colours.$highlight-colour;
}

.body.warning {
  background-color: colours.$primary-colour;
}

.closed {
  bottom: -$alert-height;
}

.open {
  bottom: 0;
}
