@use '../../globalVariables' as global;
@use '../../colourScheme' as colours;

$pointer-size: 18px;
$bob-distance: 5px;

#clickHere {
  position: fixed;
  top: global.$header-space;
  right: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  color: colours.$secondary-text-colour;
  background: colours.$input-field-background-colour;
  border: global.$outline-width solid colours.$primary-outline-colour;
  border-radius: 1rem;
  font-size: 1.5rem;
  animation: bobbing 2s ease-in-out infinite;
  transition: 1s;
  user-select: none;
  -webkit-user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  #clickHere {
    animation: none;
  }
}

#clickHere:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: $pointer-size solid transparent;
  border-right: $pointer-size solid transparent;
  border-top: $pointer-size solid transparent;
  border-bottom: $pointer-size solid colours.$primary-outline-colour;
  left: 63%;
  bottom: calc(100% + global.$outline-width);
}

#clickHere:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: $pointer-size solid transparent;
  border-right: $pointer-size solid transparent;
  border-top: $pointer-size solid transparent;
  border-bottom: $pointer-size solid colours.$input-field-background-colour;
  left: 63%;
  bottom: calc(100% - 1px);
}

@keyframes bobbing {
  0% {
    transform: translate(0px, $bob-distance);
  }
  50% {
    transform: translate(0px, -$bob-distance);
  }
  100% {
    transform: translate(0px, $bob-distance);
  }
}
