.spinner {
  background-color: white;
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
  border-radius: 3.75px;
  -webkit-animation: ani-spinner 0.75s infinite ease-in-out;
  animation: ani-spinner 0.75s infinite ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .spinner {
    -webkit-animation: ani-spinner 1.5s infinite ease-in-out;
    animation: ani-spinner 1.5s infinite ease-in-out;
  }
}

@-webkit-keyframes ani-spinner {
  0% {
    -webkit-transform: perspective(200px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(180deg);
  }
}

@keyframes ani-spinner {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateY(180deg);
  }
}
