@use '../../colourScheme' as colours;
@use '../../globalVariables' as global;

.spinner {
  background-color: colours.$primary-colour-light;
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
  border: global.$outline-width solid colours.$primary-outline-colour;
  border-radius: 8px;
  animation: ani-spinner 0.75s infinite ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation: ani-spinner 1.5s infinite ease-in-out;
  }
}

@keyframes ani-spinner {
  // use legacy transform property because perspective does not work spearately for some reason
  0% {
    transform: perspective(200px) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateY(180deg);
  }
}
