@use '../../colourScheme' as colours;

$field-font-size: 1.25rem;

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchL1Label {
  font-size: 2rem;
  font-weight: 700;
}

.searchL2Label {
  font-size: 1.5rem;
  font-weight: 500;
}

.searchRatingLabel {
  font-size: $field-font-size;
  font-weight: 400;
  margin: 0.5rem;
}

.searchFieldInput {
  font-size: $field-font-size;
  font-weight: 400;
  background: none;
  color: white;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 1.5rem;
}

.searchFieldInput:focus {
  outline: 2px;
  border: 2px solid colours.$highlight-color;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px colours.$highlight-color;
}

.searchRadioGroup {
  margin: 0 0.4rem;
}

.searchFilterButton {
  margin-right: 0.5rem;
  transform: scale(2);
}

#searchClear {
  font-size: $field-font-size;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: colours.$highlight-color;
}

#searchClear:disabled {
  color: white;
  background-color: #888;
}

#searchSubmit {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 10rem;
  margin: 1rem;
  background-color: colours.$highlight-color;
}
